Node-Red_Flow.json
[
   {
      "id":"8791016e.190b3",
      "type":"http in",
      "z":"8da249a9.c2aa88",
      "name":"",
      "url":"/callingNodeRed",
      "method":"post",
      "upload":false,
      "swaggerDoc":"",
      "x":100,
      "y":240,
      "wires":[
         [
            "a19d2f77.9032",
            "2a17c780.a7a328"
         ]
      ]
   },
   {
      "id":"a771124a.3a393",
      "type":"switch",
      "z":"8da249a9.c2aa88",
      "name":"",
      "property":"payload.verified",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1050,
      "y":240,
      "wires":[
         [
            "58ad8b0f.d0d824"
         ],
         [
            "f1998f0a.a8701"
         ]
      ]
   },
   {
      "id":"e59709b9.6ff7d8",
      "type":"http request",
      "z":"8da249a9.c2aa88",
      "name":"Connecting Call",
      "method":"POST",
      "ret":"obj",
      "paytoqs":"ignore",
      "url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"basic",
      "x":1480,
      "y":220,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"f1998f0a.a8701",
      "type":"switch",
      "z":"8da249a9.c2aa88",
      "name":"Limit on Callbacks",
      "property":"context.count",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lt",
            "v":"4",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1030,
      "y":340,
      "wires":[
         [
            "6d155cf2.ca8b94"
         ],
         [
            "f0469506.0979d8"
         ]
      ]
   },
   {
      "id":"6d155cf2.ca8b94",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Set Payload",
      "func":"msg.context.count = msg.context.count +=1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":706,
      "y":295,
      "wires":[
         [
            "93df1356.66683"
         ]
      ]
   },
   {
      "id":"61738bfc.9cb924",
      "type":"http request",
      "z":"8da249a9.c2aa88",
      "name":"Ending Call",
      "method":"POST",
      "ret":"obj",
      "paytoqs":"ignore",
      "url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"basic",
      "x":1490,
      "y":260,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"6f582ec7.0ea79",
      "type":"http in",
      "z":"8da249a9.c2aa88",
      "name":"",
      "url":"/updateNodeRed",
      "method":"get",
      "upload":false,
      "swaggerDoc":"",
      "x":100,
      "y":440,
      "wires":[
         [
            "567a02b1.4cc6fc"
         ]
      ]
   },
   {
      "id":"567a02b1.4cc6fc",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Update ",
      "func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":280,
      "y":440,
      "wires":[
         [
            "f52ee13b.47791"
         ]
      ]
   },
   {
      "id":"93df1356.66683",
      "type":"delay",
      "z":"8da249a9.c2aa88",
      "name":"",
      "pauseType":"delay",
      "timeout":"10",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":700,
      "y":240,
      "wires":[
         [
            "60d1b1fe.ea54e"
         ]
      ]
   },
   {
      "id":"89dad699.757038",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Store Phone Record",
      "func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":520,
      "y":240,
      "wires":[
         [
            "93df1356.66683"
         ]
      ]
   },
   {
      "id":"a19d2f77.9032",
      "type":"http response",
      "z":"8da249a9.c2aa88",
      "name":"",
      "statusCode":"",
      "headers":{

      },
      "x":290,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"ae5bf30c.89e1e",
      "type":"http response",
      "z":"8da249a9.c2aa88",
      "name":"",
      "statusCode":"",
      "headers":{
         "content-type":"text/vcard; name=\"vCard.vcf\"",
         "Content-Disposition":"inline; filename=\"vCard.vcf\""
      },
      "x":690,
      "y":580,
      "wires":[

      ]
   },
   {
      "id":"21c6705c.df916",
      "type":"template",
      "z":"8da249a9.c2aa88",
      "name":"",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"BEGIN:VCARD\nVERSION:3.0\nN:Contact;New;;;\nFN:New Contact\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n",
      "output":"str",
      "x":560,
      "y":580,
      "wires":[
         [
            "ae5bf30c.89e1e"
         ]
      ]
   },
   {
      "id":"97955a30.79a7e8",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Formated Response",
      "func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":380,
      "y":580,
      "wires":[
         [
            "21c6705c.df916"
         ]
      ]
   },
   {
      "id":"861377d.5c2af88",
      "type":"http in",
      "z":"8da249a9.c2aa88",
      "name":"",
      "url":"/vCard/:phoneNumber/:body",
      "method":"get",
      "upload":false,
      "swaggerDoc":"",
      "x":130,
      "y":580,
      "wires":[
         [
            "97955a30.79a7e8"
         ]
      ]
   },
   {
      "id":"60d1b1fe.ea54e",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Check if call is verified",
      "func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":880,
      "y":240,
      "wires":[
         [
            "a771124a.3a393"
         ]
      ]
   },
   {
      "id":"f52ee13b.47791",
      "type":"http response",
      "z":"8da249a9.c2aa88",
      "name":"",
      "statusCode":"",
      "headers":{

      },
      "x":410,
      "y":440,
      "wires":[

      ]
   },
   {
      "id":"2a17c780.a7a328",
      "type":"change",
      "z":"8da249a9.c2aa88",
      "name":"Set All Variables",
      "rules":[
         {
            "t":"set",
            "p":"twilioAccountSID",
            "pt":"msg",
            "to":"yourTwilioAccountSID",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"twilioAuthToken",
            "pt":"msg",
            "to":"yourTwilioAuthToken",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"transferBinURL",
            "pt":"msg",
            "to":"yourTransferBinURL",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"failedCallBinURL",
            "pt":"msg",
            "to":"yourFailedCallBinURL",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":240,
      "wires":[
         [
            "89dad699.757038"
         ]
      ]
   },
   {
      "id":"58ad8b0f.d0d824",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Set Transfer Payload",
      "func":"msg.payload = {\n    'Url': msg.transferBinURL\n}\nmsg.sid = msg.context.callSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":1260,
      "y":220,
      "wires":[
         [
            "e59709b9.6ff7d8"
         ]
      ]
   },
   {
      "id":"f0469506.0979d8",
      "type":"function",
      "z":"8da249a9.c2aa88",
      "name":"Set Failed Call Payload",
      "func":"msg.payload = {\n    'Url': msg.failedCallBinURL\n}\nmsg.sid = msg.context.callSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":1270,
      "y":260,
      "wires":[
         [
            "61738bfc.9cb924"
         ]
      ]
   }
]