Node-Red_Flow.json
[{"id":"eabf0c8c.53ada","type":"tab","label":"Twilio Call Screen","disabled":false,"info":""},{"id":"f844f4.6bc9eb1","type":"http in","z":"eabf0c8c.53ada","name":"","url":"/callingNodeRed","method":"post","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["10e9a745.92f779","634f2055.000b7"]]},{"id":"3426b5bd.8eeb0a","type":"switch","z":"eabf0c8c.53ada","name":"","property":"payload[0].verified","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":260,"wires":[["24f97d07.7325f2"],["6e4e2841.624bc8"]]},{"id":"6adf3ea6.74a62","type":"http request","z":"eabf0c8c.53ada","name":"Connecting Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/Twilio_Account_Sid/Calls/{{sid}}.json","tls":"","proxy":"","authType":"basic","x":1320,"y":240,"wires":[[]]},{"id":"24f97d07.7325f2","type":"change","z":"eabf0c8c.53ada","name":"Transfer","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Url\":\"YourTransferBinURL\"}","tot":"json"},{"t":"set","p":"sid","pt":"msg","to":"context.currentCallSID","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[["6adf3ea6.74a62"]]},{"id":"6e4e2841.624bc8","type":"switch","z":"eabf0c8c.53ada","name":"Limit on Callbacks","property":"context.count","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":360,"wires":[["a0fbf7d4.f813a8"],["17665470.b7a82c"]]},{"id":"a0fbf7d4.f813a8","type":"function","z":"eabf0c8c.53ada","name":"Set Payload","func":"msg.context.count = msg.context.count +=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":546,"y":315,"wires":[["59970ee5.cec8"]]},{"id":"807a349e.1e9eb8","type":"http request","z":"eabf0c8c.53ada","name":"Ending Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/Twilio_Account_Sid/Calls/{{sid}}.json","tls":"","proxy":"","authType":"basic","x":1290,"y":280,"wires":[[]]},{"id":"17665470.b7a82c","type":"change","z":"eabf0c8c.53ada","name":"Failed Call","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Url\":\"YourFailedCalledURL\"}","tot":"json"},{"t":"set","p":"sid","pt":"msg","to":"context.currentCallSID","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["807a349e.1e9eb8"]]},{"id":"c02c34ae.a01368","type":"http in","z":"eabf0c8c.53ada","name":"","url":"/updateNodeRed","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["eb2f0078.dee75"]]},{"id":"eb2f0078.dee75","type":"function","z":"eabf0c8c.53ada","name":"Update ","func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["4bc3b5e1.d84a0c"]]},{"id":"59970ee5.cec8","type":"delay","z":"eabf0c8c.53ada","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["1a2277c1.1aafc8"]]},{"id":"10e9a745.92f779","type":"function","z":"eabf0c8c.53ada","name":"Store Phone Record","func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["59970ee5.cec8"]]},{"id":"634f2055.000b7","type":"http response","z":"eabf0c8c.53ada","name":"","statusCode":"","headers":{},"x":310,"y":300,"wires":[]},{"id":"9c08b1df.c0155","type":"http response","z":"eabf0c8c.53ada","name":"","statusCode":"","headers":{"content-type":"text/vcard; name=\"vCard.vcf\"","Content-Disposition":"inline; filename=\"vCard.vcf\""},"x":730,"y":740,"wires":[]},{"id":"3958d98d.051626","type":"template","z":"eabf0c8c.53ada","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BEGIN:VCARD\nVERSION:3.0\nN:Contact;New;;;\nFN:New Contact\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n","output":"str","x":600,"y":740,"wires":[["9c08b1df.c0155"]]},{"id":"a1d2e409.63eb08","type":"function","z":"eabf0c8c.53ada","name":"Formated Response","func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":740,"wires":[["3958d98d.051626"]]},{"id":"9d3e7e0b.cae14","type":"natural-language-understanding","z":"eabf0c8c.53ada","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":700,"y":660,"wires":[["16710e56.24a2f2"]]},{"id":"16710e56.24a2f2","type":"function","z":"eabf0c8c.53ada","name":"Set NLU Results","func":"let name = 'New Contact', company;\nif(msg.features.entities) {\n    msg.features.entities.forEach(function(entity) {\n        switch(entity.type) {\n            case 'Person':\n                name = entity.text;\n                break;\n            case 'Company':\n                company = entity.text;\n                break;\n            default:\n                break;\n        }\n    })\n}\nmsg.payload = {\n    \"name\" : name,\n    \"company\": company\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["4f6fc9e0.929888"]]},{"id":"e822eec6.f3938","type":"http in","z":"eabf0c8c.53ada","name":"","url":"/vCardNlu/:phoneNumber/:body","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["5b4bfab9.d53be4"]]},{"id":"48bc736e.971d5c","type":"http response","z":"eabf0c8c.53ada","name":"","statusCode":"","headers":{"content-type":"text/vcard; name=\"vCard.vcf\"","Content-Disposition":"inline; filename=\"vCard.vcf\""},"x":1230,"y":660,"wires":[]},{"id":"4f6fc9e0.929888","type":"template","z":"eabf0c8c.53ada","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BEGIN:VCARD\nVERSION:3.0\nN:{{payload.name}};\nFN:{{payload.name}};\nORG:{{payload.company}};\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n","output":"str","x":1100,"y":660,"wires":[["48bc736e.971d5c"]]},{"id":"5b4bfab9.d53be4","type":"function","z":"eabf0c8c.53ada","name":"Formated Response","func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nmsg.payload = msg.req.params.body;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["9d3e7e0b.cae14"]]},{"id":"a173996b.0dcc78","type":"http in","z":"eabf0c8c.53ada","name":"","url":"/vCard/:phoneNumber/:body","method":"get","upload":false,"swaggerDoc":"","x":170,"y":740,"wires":[["a1d2e409.63eb08"]]},{"id":"1a2277c1.1aafc8","type":"function","z":"eabf0c8c.53ada","name":"Check if call is verified","func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["3426b5bd.8eeb0a"]]},{"id":"4bc3b5e1.d84a0c","type":"http response","z":"eabf0c8c.53ada","name":"","statusCode":"","headers":{},"x":450,"y":460,"wires":[]}]
