Node-Red_Flow_Watson_NLU.json
[
   {
      "id":"4490ea9d.4d61d4",
      "type":"tab",
      "label":"Flow 4",
      "disabled":false,
      "info":""
   },
   {
      "id":"fa08a025.d5865",
      "type":"http in",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "url":"/callingNodeRed",
      "method":"post",
      "upload":false,
      "swaggerDoc":"",
      "x":100,
      "y":280,
      "wires":[
         [
            "9321660a.49e048",
            "8df4cba.efc6038"
         ]
      ]
   },
   {
      "id":"2c3d0d26.1df4c2",
      "type":"switch",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "property":"payload.verified",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1050,
      "y":280,
      "wires":[
         [
            "2b474b05.4b29c4"
         ],
         [
            "c3027c09.695ac"
         ]
      ]
   },
   {
      "id":"eba93c7b.4e4b9",
      "type":"http request",
      "z":"4490ea9d.4d61d4",
      "name":"Connecting Call",
      "method":"POST",
      "ret":"obj",
      "paytoqs":"ignore",
      "url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"basic",
      "x":1480,
      "y":260,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c3027c09.695ac",
      "type":"switch",
      "z":"4490ea9d.4d61d4",
      "name":"Limit on Callbacks",
      "property":"context.count",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lt",
            "v":"4",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1030,
      "y":380,
      "wires":[
         [
            "6a87ca84.eeb554"
         ],
         [
            "d6fc8bea.f23e98"
         ]
      ]
   },
   {
      "id":"6a87ca84.eeb554",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Set Payload",
      "func":"msg.context.count = msg.context.count +=1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":706,
      "y":335,
      "wires":[
         [
            "23afdd3f.7a1d82"
         ]
      ]
   },
   {
      "id":"95b8fe78.e47f5",
      "type":"http request",
      "z":"4490ea9d.4d61d4",
      "name":"Ending Call",
      "method":"POST",
      "ret":"obj",
      "paytoqs":"ignore",
      "url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"basic",
      "x":1490,
      "y":300,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"39e3478e.7e3648",
      "type":"http in",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "url":"/updateNodeRed",
      "method":"get",
      "upload":false,
      "swaggerDoc":"",
      "x":100,
      "y":480,
      "wires":[
         [
            "85022253.2e98e"
         ]
      ]
   },
   {
      "id":"85022253.2e98e",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Update ",
      "func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":280,
      "y":480,
      "wires":[
         [
            "a1a36b8e.631f28"
         ]
      ]
   },
   {
      "id":"23afdd3f.7a1d82",
      "type":"delay",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "pauseType":"delay",
      "timeout":"10",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":700,
      "y":280,
      "wires":[
         [
            "f5805fa5.8d33b"
         ]
      ]
   },
   {
      "id":"b4607025.e757b",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Store Phone Record",
      "func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":520,
      "y":280,
      "wires":[
         [
            "23afdd3f.7a1d82"
         ]
      ]
   },
   {
      "id":"9321660a.49e048",
      "type":"http response",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "statusCode":"",
      "headers":{

      },
      "x":290,
      "y":320,
      "wires":[

      ]
   },
   {
      "id":"f5805fa5.8d33b",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Check if call is verified",
      "func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":880,
      "y":280,
      "wires":[
         [
            "2c3d0d26.1df4c2"
         ]
      ]
   },
   {
      "id":"a1a36b8e.631f28",
      "type":"http response",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "statusCode":"",
      "headers":{

      },
      "x":410,
      "y":480,
      "wires":[

      ]
   },
   {
      "id":"8df4cba.efc6038",
      "type":"change",
      "z":"4490ea9d.4d61d4",
      "name":"Set All Variables",
      "rules":[
         {
            "t":"set",
            "p":"twilioAccountSID",
            "pt":"msg",
            "to":"yourTwilioAccountSID",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"twilioAuthToken",
            "pt":"msg",
            "to":"yourTwilioAuthToken",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"transferBinURL",
            "pt":"msg",
            "to":"yourTransferBinURL",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"failedCallBinURL",
            "pt":"msg",
            "to":"yourFailedCallBinURL",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":280,
      "wires":[
         [
            "b4607025.e757b"
         ]
      ]
   },
   {
      "id":"2b474b05.4b29c4",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Set Transfer Payload",
      "func":"msg.payload = {\n    'Url': msg.transferBinURL\n}\nmsg.sid = msg.context.callSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":1260,
      "y":260,
      "wires":[
         [
            "eba93c7b.4e4b9"
         ]
      ]
   },
   {
      "id":"d6fc8bea.f23e98",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Set Failed Call Payload",
      "func":"msg.payload = {\n    'Url': msg.failedCallBinURL\n}\nmsg.sid = msg.context.callSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":1270,
      "y":300,
      "wires":[
         [
            "95b8fe78.e47f5"
         ]
      ]
   },
   {
      "id":"14994bd3.315254",
      "type":"natural-language-understanding",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "categories":false,
      "limitcategories":"3",
      "concepts":false,
      "maxconcepts":"8",
      "doc-emotion":false,
      "doc-emotion-target":"",
      "doc-sentiment":false,
      "doc-sentiment-target":"",
      "entity":true,
      "entity-emotion":false,
      "entity-sentiment":false,
      "maxentities":"10",
      "keyword":false,
      "keyword-emotion":false,
      "keyword-sentiment":false,
      "maxkeywords":"50",
      "metadata":false,
      "relation":false,
      "semantic":false,
      "semantic-entities":false,
      "semantic-keywords":false,
      "maxsemantics":"50",
      "limittextcharacters":"0",
      "syntax":false,
      "syntax-sentences":false,
      "syntax-tokens-lemma":false,
      "syntax-tokens-pos":false,
      "service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api",
      "x":680,
      "y":620,
      "wires":[
         [
            "353fa3ef.7ec61c"
         ]
      ]
   },
   {
      "id":"353fa3ef.7ec61c",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Set NLU Results",
      "func":"let name = 'New Contact', company;\nif(msg.features.entities) {\n    msg.features.entities.forEach(function(entity) {\n        switch(entity.type) {\n            case 'Person':\n                name = entity.text;\n                break;\n            case 'Company':\n                company = entity.text;\n                break;\n            default:\n                break;\n        }\n    })\n}\nmsg.payload = {\n    \"name\" : name,\n    \"company\": company\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":920,
      "y":620,
      "wires":[
         [
            "b095f37e.5b41f"
         ]
      ]
   },
   {
      "id":"acc8031b.312ff",
      "type":"http in",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "url":"/vCardNlu/:phoneNumber/:body",
      "method":"get",
      "upload":false,
      "swaggerDoc":"",
      "x":140,
      "y":620,
      "wires":[
         [
            "a4f9f36e.c3316"
         ]
      ]
   },
   {
      "id":"a3581c75.bc888",
      "type":"http response",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "statusCode":"",
      "headers":{
         "content-type":"text/vcard; name=\"vCard.vcf\"",
         "Content-Disposition":"inline; filename=\"vCard.vcf\""
      },
      "x":1210,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"b095f37e.5b41f",
      "type":"template",
      "z":"4490ea9d.4d61d4",
      "name":"",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"BEGIN:VCARD\nVERSION:3.0\nN:{{payload.name}};\nFN:{{payload.name}};\nORG:{{payload.company}};\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n",
      "output":"str",
      "x":1080,
      "y":620,
      "wires":[
         [
            "a3581c75.bc888"
         ]
      ]
   },
   {
      "id":"a4f9f36e.c3316",
      "type":"function",
      "z":"4490ea9d.4d61d4",
      "name":"Formated Response",
      "func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nmsg.payload = msg.req.params.body;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":420,
      "y":620,
      "wires":[
         [
            "14994bd3.315254"
         ]
      ]
   }
]