Node-Red_Flow.json
[{"id":"f6d10565.761478","type":"tab","label":"Twilio Call Screen","disabled":false,"info":""},{"id":"ddba47bc.9c47c8","type":"http in","z":"f6d10565.761478","name":"","url":"/callingNodeRed","method":"post","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["48a4457f.f873dc","33a4b823.cfb9c8"]]},{"id":"623aba93.41a0d4","type":"switch","z":"f6d10565.761478","name":"","property":"payload[0].verified","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":260,"wires":[["1f66eb63.e0ddb5"],["8f93c8b8.c349f8"]]},{"id":"ccdc24e6.ec2ff8","type":"http request","z":"f6d10565.761478","name":"Connecting Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/Twilio_Account_Sid/Calls/{{sid}}.json","tls":"","proxy":"","authType":"basic","x":1320,"y":240,"wires":[[]]},{"id":"1f66eb63.e0ddb5","type":"change","z":"f6d10565.761478","name":"Transfer","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Url\":\"YourTransferBinURL\"}","tot":"json"},{"t":"set","p":"sid","pt":"msg","to":"context.currentCallSID","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[["ccdc24e6.ec2ff8"]]},{"id":"8f93c8b8.c349f8","type":"switch","z":"f6d10565.761478","name":"Limit on Callbacks","property":"context.count","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":360,"wires":[["c210fea6.09194"],["11a37ae2.7a5285"]]},{"id":"c210fea6.09194","type":"function","z":"f6d10565.761478","name":"Set Payload","func":"msg.context.count = msg.context.count +=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":546,"y":315,"wires":[["6a81431a.1fe37c"]]},{"id":"a3764fde.47481","type":"http request","z":"f6d10565.761478","name":"Ending Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/Twilio_Account_Sid/Calls/{{sid}}.json","tls":"","proxy":"","authType":"basic","x":1290,"y":280,"wires":[[]]},{"id":"11a37ae2.7a5285","type":"change","z":"f6d10565.761478","name":"Failed Call","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Url\":\"YourFailedCalledURL\"}","tot":"json"},{"t":"set","p":"sid","pt":"msg","to":"context.currentCallSID","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/x-www-form-urlencoded\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":280,"wires":[["a3764fde.47481"]]},{"id":"7bc1f392.ad7d8c","type":"http in","z":"f6d10565.761478","name":"","url":"/updateNodeRed","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["9d85f1f0.31157"]]},{"id":"9d85f1f0.31157","type":"function","z":"f6d10565.761478","name":"Update ","func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["9005129c.2dfb5"]]},{"id":"6a81431a.1fe37c","type":"delay","z":"f6d10565.761478","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["75b4451e.1bee3c"]]},{"id":"48a4457f.f873dc","type":"function","z":"f6d10565.761478","name":"Store Phone Record","func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["6a81431a.1fe37c"]]},{"id":"33a4b823.cfb9c8","type":"http response","z":"f6d10565.761478","name":"","statusCode":"","headers":{},"x":310,"y":300,"wires":[]},{"id":"226080b3.9e204","type":"http response","z":"f6d10565.761478","name":"","statusCode":"","headers":{"content-type":"text/vcard; name=\"vCard.vcf\"","Content-Disposition":"inline; filename=\"vCard.vcf\""},"x":730,"y":600,"wires":[]},{"id":"dc81119a.adc2b","type":"template","z":"f6d10565.761478","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BEGIN:VCARD\nVERSION:3.0\nN:Contact;New;;;\nFN:New Contact\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n","output":"str","x":600,"y":600,"wires":[["226080b3.9e204"]]},{"id":"e2d0b638.7fdfe8","type":"function","z":"f6d10565.761478","name":"Formated Response","func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["dc81119a.adc2b"]]},{"id":"a86e3945.26f8f8","type":"http in","z":"f6d10565.761478","name":"","url":"/vCard/:phoneNumber/:body","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["e2d0b638.7fdfe8"]]},{"id":"75b4451e.1bee3c","type":"function","z":"f6d10565.761478","name":"Check if call is verified","func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["623aba93.41a0d4"]]},{"id":"9005129c.2dfb5","type":"http response","z":"f6d10565.761478","name":"","statusCode":"","headers":{},"x":450,"y":460,"wires":[]}]