Node-Red_Flow_Watson_NLU.json
[{"id":"7156ee54.71541","type":"http in","z":"638110e.da6b6f","name":"","url":"/callingNodeRed","method":"post","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["2173a02a.ee6b4","dce0c099.d36b3"]]},{"id":"6e41a032.f087e","type":"switch","z":"638110e.da6b6f","name":"","property":"payload[0].verified","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":260,"wires":[["9b650c1e.aa751"],["70d4192b.bbf4b8"]]},{"id":"773378d0.d13ec8","type":"http request","z":"638110e.da6b6f","name":"Connecting Call","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json","tls":"","persist":false,"proxy":"","authType":"basic","x":1520,"y":240,"wires":[[]]},{"id":"70d4192b.bbf4b8","type":"switch","z":"638110e.da6b6f","name":"Limit on Callbacks","property":"context.count","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":360,"wires":[["27c2478b.a6efa8"],["58eec832.07d018"]]},{"id":"27c2478b.a6efa8","type":"function","z":"638110e.da6b6f","name":"Set Payload","func":"msg.context.count = msg.context.count +=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":746,"y":315,"wires":[["3aca3d43.326572"]]},{"id":"93eec98a.5d8a88","type":"http request","z":"638110e.da6b6f","name":"Ending Call","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json","tls":"","persist":false,"proxy":"","authType":"basic","x":1530,"y":280,"wires":[[]]},{"id":"beb45e0a.a3aa8","type":"http in","z":"638110e.da6b6f","name":"","url":"/updateNodeRed","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["2548b968.094966"]]},{"id":"2548b968.094966","type":"function","z":"638110e.da6b6f","name":"Update ","func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["6e14ff70.f12af"]]},{"id":"3aca3d43.326572","type":"delay","z":"638110e.da6b6f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":260,"wires":[["b78394a.e2cb268"]]},{"id":"ebe6823.6b0928","type":"function","z":"638110e.da6b6f","name":"Store Phone Record","func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["3aca3d43.326572"]]},{"id":"2173a02a.ee6b4","type":"http response","z":"638110e.da6b6f","name":"","statusCode":"","headers":{},"x":330,"y":300,"wires":[]},{"id":"5b00deea.3f013","type":"http response","z":"638110e.da6b6f","name":"","statusCode":"","headers":{"content-type":"text/vcard; name=\"vCard.vcf\"","Content-Disposition":"inline; filename=\"vCard.vcf\""},"x":730,"y":600,"wires":[]},{"id":"c2754d70.49a7e","type":"template","z":"638110e.da6b6f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BEGIN:VCARD\nVERSION:3.0\nN:Contact;New;;;\nFN:New Contact\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n","output":"str","x":600,"y":600,"wires":[["5b00deea.3f013"]]},{"id":"72cc7dd8.007904","type":"function","z":"638110e.da6b6f","name":"Formated Response","func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["c2754d70.49a7e"]]},{"id":"dd4332dc.17714","type":"http in","z":"638110e.da6b6f","name":"","url":"/vCard/:phoneNumber/:body","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["72cc7dd8.007904"]]},{"id":"b78394a.e2cb268","type":"function","z":"638110e.da6b6f","name":"Check if call is verified","func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":260,"wires":[["6e41a032.f087e"]]},{"id":"6e14ff70.f12af","type":"http response","z":"638110e.da6b6f","name":"","statusCode":"","headers":{},"x":450,"y":460,"wires":[]},{"id":"dce0c099.d36b3","type":"change","z":"638110e.da6b6f","name":"Set All Variables","rules":[{"t":"set","p":"twilioAccountSID","pt":"msg","to":"yourTwilioAccountSID","tot":"str"},{"t":"set","p":"twilioAuthToken","pt":"msg","to":"yourTwilioAuthToken","tot":"str"},{"t":"set","p":"transferBinURL","pt":"msg","to":"yourTransferBinURL","tot":"str"},{"t":"set","p":"failedCallBinURL","pt":"msg","to":"yourFailedCallBinURL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["ebe6823.6b0928"]]},{"id":"9b650c1e.aa751","type":"function","z":"638110e.da6b6f","name":"Set Transfer Payload","func":"msg.payload = {\n    'Url': msg.transferBinURL\n}\nmsg.sid = msg.context.currentCallSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":240,"wires":[["773378d0.d13ec8"]]},{"id":"58eec832.07d018","type":"function","z":"638110e.da6b6f","name":"Set Failed Call Payload","func":"msg.payload = {\n    'Url': msg.failedCallBinURL\n}\nmsg.sid = msg.context.currentCallSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":280,"wires":[["93eec98a.5d8a88"]]}]