Node-Red_Flow_Watson_NLU.json
[{"id":"634fbaa7.0b4794","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e65fcfba.3cdba","type":"http in","z":"634fbaa7.0b4794","name":"","url":"/callingNodeRed","method":"post","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["9c33cbc4.925a78","f7fdb162.2440a"]]},{"id":"194fb339.a5b96d","type":"switch","z":"634fbaa7.0b4794","name":"","property":"payload[0].verified","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":280,"wires":[["ff7ff98d.c39fd8"],["73fca859.0bbb18"]]},{"id":"468cef73.f34c","type":"http request","z":"634fbaa7.0b4794","name":"Connecting Call","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json","tls":"","persist":false,"proxy":"","authType":"basic","x":1480,"y":260,"wires":[[]]},{"id":"73fca859.0bbb18","type":"switch","z":"634fbaa7.0b4794","name":"Limit on Callbacks","property":"context.count","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":380,"wires":[["4bc61cfe.20bcc4"],["9db9072a.d8de68"]]},{"id":"4bc61cfe.20bcc4","type":"function","z":"634fbaa7.0b4794","name":"Set Payload","func":"msg.context.count = msg.context.count +=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":706,"y":335,"wires":[["86e55729.678ad8"]]},{"id":"bce79b09.fd7fa8","type":"http request","z":"634fbaa7.0b4794","name":"Ending Call","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.twilio.com/2010-04-01/Accounts/{{twilioAccountSID}}/Calls/{{sid}}.json","tls":"","persist":false,"proxy":"","authType":"basic","x":1490,"y":300,"wires":[[]]},{"id":"68edef40.2f38f","type":"http in","z":"634fbaa7.0b4794","name":"","url":"/updateNodeRed","method":"get","upload":false,"swaggerDoc":"","x":100,"y":480,"wires":[["7a7f895d.70af58"]]},{"id":"7a7f895d.70af58","type":"function","z":"634fbaa7.0b4794","name":"Update ","func":"const currentCall = flow.get(\"currentCall\");\ncurrentCall.verified = true;\nflow.set(\"currentCall\", currentCall);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["ce63dbf4.409bd8"]]},{"id":"86e55729.678ad8","type":"delay","z":"634fbaa7.0b4794","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":280,"wires":[["889056f6.7c82d8"]]},{"id":"75e03794.857908","type":"function","z":"634fbaa7.0b4794","name":"Store Phone Record","func":"//msg.payload.verified = false;\nconst phone = msg.payload.phone;\nconst callSID = msg.payload.callSID;\nconst currentCall = {\n    \"phone\": phone, \n    \"callSID\": callSID,\n    \"verified\": false\n}\nflow.set(\"currentCall\", currentCall);\nmsg.context = {\n    \"count\": 0,\n    \"callSID\": callSID\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["86e55729.678ad8"]]},{"id":"9c33cbc4.925a78","type":"http response","z":"634fbaa7.0b4794","name":"","statusCode":"","headers":{},"x":290,"y":320,"wires":[]},{"id":"889056f6.7c82d8","type":"function","z":"634fbaa7.0b4794","name":"Check if call is verified","func":"msg.payload = {\"verified\": false};\nconst currentCall = flow.get(\"currentCall\");\nif(currentCall.verified) {\n    msg.payload = {\"verified\": true};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":280,"wires":[["194fb339.a5b96d"]]},{"id":"ce63dbf4.409bd8","type":"http response","z":"634fbaa7.0b4794","name":"","statusCode":"","headers":{},"x":410,"y":480,"wires":[]},{"id":"f7fdb162.2440a","type":"change","z":"634fbaa7.0b4794","name":"Set All Variables","rules":[{"t":"set","p":"twilioAccountSID","pt":"msg","to":"yourTwilioAccountSID","tot":"str"},{"t":"set","p":"twilioAuthToken","pt":"msg","to":"yourTwilioAuthToken","tot":"str"},{"t":"set","p":"transferBinURL","pt":"msg","to":"yourTransferBinURL","tot":"str"},{"t":"set","p":"failedCallBinURL","pt":"msg","to":"yourFailedCallBinURL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["75e03794.857908"]]},{"id":"ff7ff98d.c39fd8","type":"function","z":"634fbaa7.0b4794","name":"Set Transfer Payload","func":"msg.payload = {\n    'Url': msg.transferBinURL\n}\nmsg.sid = msg.context.currentCallSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":260,"wires":[["468cef73.f34c"]]},{"id":"9db9072a.d8de68","type":"function","z":"634fbaa7.0b4794","name":"Set Failed Call Payload","func":"msg.payload = {\n    'Url': msg.failedCallBinURL\n}\nmsg.sid = msg.context.currentCallSID;\nconst buff = new Buffer(msg.twilioAccountSID + ':' + msg.twilioAuthToken); \nmsg.headers = {\n    \"Authorization\": 'Basic '+ buff.toString('base64'),\n    \"content-type\": 'application/x-www-form-urlencoded'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":300,"wires":[["bce79b09.fd7fa8"]]},{"id":"ea1e2391.90aed","type":"natural-language-understanding","z":"634fbaa7.0b4794","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":680,"y":620,"wires":[["7b6bc05d.63c9d"]]},{"id":"7b6bc05d.63c9d","type":"function","z":"634fbaa7.0b4794","name":"Set NLU Results","func":"let name = 'New Contact', company;\nif(msg.features.entities) {\n    msg.features.entities.forEach(function(entity) {\n        switch(entity.type) {\n            case 'Person':\n                name = entity.text;\n                break;\n            case 'Company':\n                company = entity.text;\n                break;\n            default:\n                break;\n        }\n    })\n}\nmsg.payload = {\n    \"name\" : name,\n    \"company\": company\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":620,"wires":[["f9c98aef.6a41d8"]]},{"id":"4d0935b9.ac346c","type":"http in","z":"634fbaa7.0b4794","name":"","url":"/vCardNlu/:phoneNumber/:body","method":"get","upload":false,"swaggerDoc":"","x":140,"y":620,"wires":[["39299407.ecd32c"]]},{"id":"c372fdea.5cb35","type":"http response","z":"634fbaa7.0b4794","name":"","statusCode":"","headers":{"content-type":"text/vcard; name=\"vCard.vcf\"","Content-Disposition":"inline; filename=\"vCard.vcf\""},"x":1210,"y":620,"wires":[]},{"id":"f9c98aef.6a41d8","type":"template","z":"634fbaa7.0b4794","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BEGIN:VCARD\nVERSION:3.0\nN:{{payload.name}};\nFN:{{payload.name}};\nORG:{{payload.company}};\nTEL;type=CELL:{{req.params.phoneNumber}}\nNOTE:{{req.params.body}}\nEND:VCARD\n","output":"str","x":1080,"y":620,"wires":[["c372fdea.5cb35"]]},{"id":"39299407.ecd32c","type":"function","z":"634fbaa7.0b4794","name":"Formated Response","func":"msg.req.params.body = msg.req.params.body.replace(/_/g, ' ').replace(/&#39;/g, \"'\");\nmsg.payload = msg.req.params.body;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["ea1e2391.90aed"]]}]